*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
background: #fff;
font-family: sans-serif;
box-sizing: border-box;
}

body {    
	margin: 0 auto;
	padding: 0;	
    background-color: #fff;
    color: #343a40;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.618;
    overflow-x: hidden;      
}

li {
    list-style-type: none;
}

a {
    color: currentColor;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #212529;    
    font-weight: 600;
    line-height: 1.618;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.container {
    margin: auto;
	padding: 0;   
    min-width: 18.75rem; 
    max-width: 87.5rem;  
}

/*Cabeçalho*/
.header {
    display: flex;
    margin: auto;
    padding: 0.3125rem;    
    width: 100%;
}

.header-bar-esquerda, .header-bar-direita {
    width:100%;
}

.header-bar-esquerda, .header-bar-direita, .menu-bar-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar-esquerda {
    padding-right: 0.625rem;
}

.img-qconcursos {
    display: flex;
    align-items: center;
}

.img-nome-qconcursos {
    width: 6.25rem;
    margin-left: 0.625rem;
}

.menu-responsivo {
    display: none;
    cursor: pointer;
}

.menu-responsivo div {
    width: 25px;
    height: 1px;
    background: #000;
    margin: 8px;
}

.menu-bar-class {
    font-size: 14px;
    cursor: pointer;
}

.form-class {
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
}

input[type=text] {
    width: 250px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    background-color: rgb(250, 250, 250);
    padding: 0.75rem 0 0.75rem 0.625rem;
    height: 30px;
    -webkit-transition: 0s;
    transition: 0s;
    outline: none;
}

.img-lupa {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.btn-pesquisar {
    width: 2.5rem;
    height: 1.875rem;   
    background-color: rgb(250, 250, 250);
    text-align: center;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.header-bar-direita {
    padding-left: 18.75rem;
    display: flex;
    justify-items: flex-end;
}

.header-bar-direita a:hover {
    color: #ee8523;  
}

.menu-bar-class {
    font-size: 14px;
}

.btn-cadastro {
    font-size: 15px;
    border-radius: 5px;
    height: 2.1875rem;
    width: 9.6875rem;
    background-color: #ff8800;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-cadastro:hover {
    opacity: 0.6;
}

/*Barra de Navegação*/

nav {
    margin-bottom: 4rem;
    margin-left: 5rem;
    width: 100%;
}
nav ul {
    float: left;   
    border-top: 1px solid rgba(0,0,0,.1);
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-size: 14px;
    padding: 1.375rem 7.1875rem 1.375rem 0.875rem;
    text-decoration: none;    
}

nav ul li ul {
    display:none;
    position: relative;   
    padding: 0.625rem;
    border-radius: 0 0 0.3125rem 0.3125rem;
    position: absolute;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 11.25rem;
    border-radius: 4px;    
}

nav ul li ul li a {
    padding: 0.75rem 0.875rem;
    background:#fff;    
    margin-top: -0.9375rem;
    border-radius: 0 0 0.3125rem 0.3125rem;   
}

/*Banner*/

.banner {
    background: rgb(233, 70, 5);
    width: 100%;
    text-align: center;
    color:#fff;
    margin: auto;
}

.titulo-desc {
    padding: 2rem;
}

.btn-banner {
    background: #ffc800;
    border:none;
    border-radius: 2rem;
    box-shadow: 0 10px 15px rgb(0 0 0 / 10%);    
    font-weight:bolder;
    font-size: 14px;
    margin-bottom: 2rem;
    height: 3rem;
    line-height: 1.0625rem;
    min-width: 16rem;
    padding: 0.875rem 1.25rem;
    text-transform: uppercase;
    color: #212529;
    cursor: pointer;
}

.btn-banner:hover {
    min-width: 16.5625rem;  
    opacity: 0.6;
}

.desconto {
    border: 1px dashed #faca15;
    border-radius: 5px;
    width: 10rem;
    height: 10rem;
    color: #fff;  
    background: rgba(208,56,1,.7);  
    font-weight:bolder;
    font-size: 18px;
    line-height: 2.1875rem;  
    position: relative;
    display: grid;
    position: relative;  
    float: right;    
    margin: -13rem 10rem 0 auto;
}

/*Serviços*/

.servicos {
    display: flex;
    margin: 0.625rem 15.625rem;
    justify-content: space-evenly;
    align-items: center;
}

.servicos p {
    justify-content: end;
}

.btn-assinatura {
    background: #ee8523;
    color:#fff;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;     
    height: 2rem;    
    align-items: center;
    cursor: pointer;
}

/*Objetivo*/

.titulo-objetivo, .txt-objetivo { 
    align-items: center;
    text-align: center;    
}

.titulo-objetivo {
    margin-top: 2rem;
}

.txt-objetivo {
    margin-bottom: 2rem;
}

.card {   
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 1rem 0.5rem;
    max-width: 13.75rem;
    padding: 0.3125rem;
    text-align: center;
    width: 100%;
    display: grid;    
}

.areas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.areas h3 {
    font-size: 14px;  
}

.txt-areas {
    text-align: center;
    justify-content:center;
}

.concursos {    
    border-top: 3px solid #ee8523;
}

.enem {    
    border-top: 3px solid #ffb707;
}

.vestibular {
    border-top: 3px solid #00b1ff;
}

.oab {
    border-top: 3px solid #ff6b6b;
}

.militar {
    border-top: 3px solid #23be87;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

/*Métodos de estudos*/

.metodos-estudos h2 {
    color:#212529;
    display: flex;
    justify-content:center;
    align-items: center;    
}

.metodos p {
    display: grid;
    grid-template-columns: auto auto;    
    margin-bottom: 3rem;
}


.metodos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin: 4rem 1rem;
    width: 100%;
}

.grid-icone {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-right: 0.625rem;
    height: 9.375rem;
}

.icone-metodos {   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50px;
    background-color: #f1681e;    
    float: left;
    margin: 0 0.9375rem;    
}

.txt-metodos {
    margin-top: 3rem;;
    align-items: center;
    text-align: center;
}

.btn-metodologia, .btn-conc-abertos {
    display: flex;
    margin: 2rem auto 5rem;
    background: #35abfc;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    height: 2.125rem;
    padding: 0 0.75rem;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.btn-metodologia:hover, 
.btn-conc-abertos:hover {
    opacity: 0.6;    
}

/*Concursos abertos*/

.list-conc {
    align-items: center;
    justify-content: center; 
    display: flex;    
}

.card-conc {
    border-top: 4px solid #23be87;
    width: 100%;
    height: 100%;
    padding: 0.9375rem;
}

.concursos-abertos h2{
    font-weight: 400 !important;
    padding: 2rem 0 0;
    margin-left: 30rem;   
}

/*Depoimentos*/

.aprovados{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;    
}  

.aprovados h2 {
    margin-left: 12rem;
}

.link-historias {
    color: #35abfc;    
    margin-right: 12rem;
}

.link-historias:hover {
    text-decoration:underline;
}

.cards-aprovados {
    margin: 0 10rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.cards-depoimentos {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #eaf4f7;
    margin: 0.9375rem 0.9375rem 0 0;
    border-radius: 5px;
    height: 11.25rem;
}

.txt-aprovados {
    font-size: 12px;
}

.img-dep {
    display: flex;
    align-items: center;
    margin: 0 1.25rem;
}

.btn-conquiste {
    display: flex;
    margin: 1.25rem auto 0;
    background: #35abfc;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    height: 2.125rem;
    padding: 0 0.75rem;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.btn-conquiste:hover {
    opacity: 0.6;
}

.conquista a {
    display: flex;
    width: 100%;  
    margin-top: 4rem;  
    padding: 0;
    color: #35abfc;   
    text-decoration: none;
    justify-content: center;
}

.conquista a:hover {
    text-decoration: underline;
}

/*Guias*/

.guias {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;     
    color:#212529;
    cursor: pointer;
}

.guias p {
    display: inline-block;
    text-align: left;    
    margin-right: 2rem;
    margin-bottom: 3rem;
    padding: 0;
    font-size: 1rem;
    max-width: 10rem;
    max-height: 10rem;
    font-size: 14px;
    color: #495057;
}

.guias h3 {
    display: inline-block;    
    margin-top: 0;  
    font-size: 1rem;
    max-width: 10rem;
    max-height: 10rem;
    font-size: 14px;    
}

.grid-icone {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-right: 0.625rem;
    height: 12.5rem;
}

.icone-guias {   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.375rem;
    height: 4.735rem;
    border-radius: 3.125rem;
    background-color: #f1681e;
    float: left;
    margin: 0 0.9375rem;    
}

.txt-guias {
    margin-top: 3rem;;
    align-items: center;
    text-align: center;
}

/*Noticias*/

.titulo-noticia h2 {
    justify-content:center;
    display: flex;
    margin-bottom: 2rem;
}

.noticias h3 {
    display: inline-block;
    text-align: left;
    margin: auto;    
    padding: 0.5rem;   
    font-size: 1rem;
    max-width: 10rem;
    max-height: 10rem;
    font-size: 14px;
    color: #495057;
}

.noticias h3:hover {
    color:#00b1ff
}

.noticias {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    margin: auto;     
    padding-left: 20%;
    padding-right: 20%;
    color:#212529;
    cursor: pointer;  
    width: 100%;
}

.img-noticias {
    height: 6.25rem;
    width: 6.875rem;      
    display:inline-block;      
}

.mais-noticias a {    
    padding: 0;
    color: #35abfc;   
    text-decoration: none;  
    display: flex; 
    justify-content:center;
    margin-top: 4rem;
}

.mais-noticias a:hover {
    text-decoration: underline;    
}

/*Rodapé*/

footer {
    background-color: #495057; 
    margin-top: 4rem;
    width: 100%;
    
}

.link-group {
    display: grid;  
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);  
    margin-left: 20%;
    
}

.link-list {
    margin-top: 4rem;
}

.footer-links h3 {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase; 
    margin-bottom: 0.5rem;   
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

/*Termos*/
.secao-termos .termos li{
    color: #fff;  
    display: inline-block;
    padding: 0.9375rem 0;
    text-align: left;     
}

.termos li:first-child a {
    padding-left: 0;
    margin-left: 23.8rem;
}

.termos li a {    
    margin-right: 0.2rem;
}



